.inpt {
    width: 100%;
    padding: 10px;
    margin: 6px 0;

    border-radius: 3px;
    border: rgba(128, 128, 128, 0.404) 1px solid;
    outline: unset;
}
.inpt:focus {
    border: #1374f3 1px solid;
}