.form-login {
    width: 396px;
    margin: auto;
    padding: 10px 12px 24px 12px;
    text-align: center;

    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    background-color: white;
}
hr {
    margin: 20px 0;
    opacity: 0.5;
}
.p-remmember-pass {
    font-size: 12px;
    color: #1876f2;
}